
html, body {
	padding: 0;
	margin: 0;
}
.events {
	font-family: monospace;
	min-width: 100%;
	display: grid;
	grid-template-columns: max-content /*max-content*/ minmax(100px, auto) 1fr;
}
thead, tbody, tr {
	display: contents;
}
th, td {
	padding: 0.5em;
}
tr:nth-child(even) td {
	background: #f0f0f0;
}
.event {
}
.caller {
	color: #aaa;
}
.ev-time {
	width: fit-content;
	color: #aaa;
}
.ev-time-pref {
}
.ev-time-suff {
	font-weight: bold;
	color: #a0a0a0;
}
.msg {
}
.kvs {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5em;
}
.kv {
	display: flex;
	flex-flow: row nowrap;
}
.key {
	color: #4cc;
}
.val {
}
